:root {
    --highlight: #e54120;
    --gray0: #000205;
    --gray1: #36393f;
    --gray2: #bcbec2;
    --gray3: #f6f6f6;
    --red: #e54120;
    --text: var(--gray0);
    --meta: var(--gray1);
    --divider: var(--gray2);
    --background: var(--gray3);
    --safe: #579d1f;
    --unsafe: var(--red);
    --frugal: #ff9900;
    --inputBg: rgba(0, 0, 0, 0.05);
    --inputFocus: rgba(4, 89, 219, 0.1);
    --inputFocusBorder: #0459db;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text);
    background-color: var(--background);
}


h1, h3{
    font-weight: bold;
    margin-bottom: 3rem;
}

h2 {
    font-weight: bold;
}


th {
    text-align: center;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

a {
    text-decoration: underline;
}

select {
    box-sizing: border-box;
    padding: .25em .75em;
    background-color: var(--inputBg);
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 2px solid var(--divider);
    border-radius: 4px 4px 0 0;
    background: var(--inputBg);
    padding: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Remove default arrow */
}



/* table {
    margin-top: 3em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-collapse: separate;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-size: 1.15em;
}

.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th
{
  border: 0
}

.table>tfoot>tr>td, .table>tfoot>tr>th {
    border: 1px solid black'
} */

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border: 0
}

.breakdown {
    margin-top: 3em;
    background-color: gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

table {

    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-size: 1.15em;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
}

.navbar {
    background-color: var(--background);
    border-bottom: 3px solid black;
}

.navbar a {
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.navbar-nav li {
    padding-left: 1rem;
    padding-right: 1rem;
    position: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.form__field input,
.form__field select,
.form__field textarea {
    box-sizing: border-box;
    color: inherit;
    width: 100%;
    min-height: 2rem;
    padding: .25em .75em;
    background-color: var(--inputBg);
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 2px solid var(--divider);
    border-radius: 4px 4px 0 0;
    font-weight: 400;
}

.wrap {
    max-width: 84rem;
    padding: 1.5rem;
    margin: 0 auto;
}

.container {
    margin: 0 0 0 0;
}

.incomes {
    margin-right: 1em;
}

.expenses {
    margin-left: 1em;
}

.overview_section {
    margin-top: 2em;
}

.monthly_total {
    background-color: var(--safe) ;
    border-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    color: white;
}

.form-field {
    max-width: 24em;
    margin-bottom: 1.5rem;
}

.form-field input, .fform-field select, .form-field textarea {
    box-sizing: border-box;
    color: inherit;
    width: 100%;
    min-height: 2rem;
    padding: .25em .75em;
    background-color: var(--inputBg);
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 2px solid var(--divider);
    border-radius: 4px 4px 0 0;
}

.modal {
    margin: 0 auto;
}

.modal-content {
    background-color: var(--background);
}

.btn-success {
    padding:0.5em;
    border-radius: 6px;
    color: white;
}

